#Node modules
node_modules
client/node_modules
server/node_modules

#Env files
client/.env
server/.env

#Build folders
client/build

#Editor configs
.idea

cd client && npm install && npm run build cd ../server && npm install
cd server && node server.js
